{% extends 'layout/base.html.twig' %}

{% block content %}
    <article>
        <h4>{{ post.title }}</h4>
        <p>{{ post.content }}</p>
    </article>
    <a href="/">Retour vers l'accueil</a>
{% endblock %}